h1 {
    color: rgb(9, 241, 47);
}

#h1 {
    font-size: 50px;
    color: rgb(240, 24, 67);
}

.doimau {
    background-color: rgb(30, 63, 210);
}

#menu {
    left: 500px;
}

.table {
    width: 700;
    height: 300;
    border-color: blue;
}

.hr {
    width: 200;
    background-color: linear-gradient(120deg, #3498db, #f1c40f);
    size: 20;
}

#div1 {
    width: 200px;
    height: 500px;
    background-color: linear-gradient(120deg, #3498db, #f1c40f);
    /* linear-gradient(120deg, #3498db, #f1c40f); */
}