h1 {
    color: rgb(9, 241, 47);
}

#h1 {
    font-size: 50px;
    color: rgb(240, 24, 67);
}

.doimau {
    background-color: rgb(30, 63, 210);
}

#menu {
    left: 500px;
}

#table {
    width: 100%;
    height: 400;
    border-color: blue;
}

.hr {
    width: 200;
    background-color: linear-gradient(120deg, #3498db, #f1c40f);
    size: 20;
}